<!DOCTYPE html>
<html>
{% include head.html %}
<body class="">
  {% include header.html %}
  <div class="parallax-container">
    <div class="parallax"><img src="{% if page.parallax.img1 %}/img/{{ page.parallax.img1 }}{%else%}{{ baseurl }}/img/{{ site.theme.parallax.img1 }}{% endif %}"></div>
  </div>
  <div class="section {%if site.theme.post.background %}{{ site.theme.post.background }}{% elsif site.theme.background %}{{ site.theme.background }}{% else %}grey lighten-3{% endif %}">
    <div class="row container">
      <div class="row">
        <div class="col l12">
          <div class="card fadeInUp animated">
            <div class="card-content {% if site.theme.post.card.content %}{{ site.theme.post.card.content }}{% elsif site.theme.card.content %}{{ site.theme.card.content }}{% else %}white{% endif %}">
              <div class="row valign-wrapper">
                <div class="col l2">
                  <img src="{%if site.owner.avatar %}{{ baseurl }}/img/{{ site.owner.avatar }}{% else %}{{ baseurl }}/img/avatar.jpg{% endif %}" alt="" class="circle responsive-img transparent">
                </div>
                <div class="col l10">
                  <h3 class="black-text">{{ page.title }}</h3>
                  <p><span class="black-text">{{ page.date | date: "%b %-d, %Y" }} &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-clock-o">&nbsp;{{ page.content | number_of_words | plus:90 | divided_by:180 }} min.</i></span></p>
                  <div class="right-align">
                    {% for tag in page.tags %} <span class="task-cat {% if site.theme.tag %}{{ site.theme.tag }}{% else %}blue{% endif %} ">{{ tag }}</span> {% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
                  </div>
                </div>
              </div>
              <div class="divider"></div>

                <div class="post-content">
                    {{content}}
                  </div>


              <!-- <li class="collection-item {% if site.theme.post.card.action %}{{ site.theme.post.card.action }}{% elsif site.theme.card.action %}{{ site.theme.card.action }}{% else %}white{% endif %}">

              </li>-->

              </div>
          </div>
          {{% if page.comments %}}
            {% include disqus.html %}
          {{ % endif % }}
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="{% if page.parallax.img2 %}/img/{{ page.parallax.img2 }}{%else%}{{ baseurl }}/img/{{ site.theme.parallax.img2 }}{% endif %}"></div>
  </div>
  {% include footer.html %}
</body>
</html>
